.para-header-row { }
.para-header-cell {margin-bottom:3em; border-bottom: solid 0.125em black; word-wrap: normal; max-width: 92px;}

.para-row-label {padding-right:1.25em; word-wrap: normal; max-width: 94px;}

table {
    border-collapse: collapse;
}

td {
  font-size: 1.25em;
  padding:0.25em;
}
