greek-accentuation==1.2.0
# inflexion==0.8.0
-e git://github.com/jtauber/inflexion.git@939e356f667054ce985fc87cb8bd91c055e6629a#egg=inflexion

PyYAML==3.13
pyuca==1.1.2

py-sblgnt==0.5

greek-utils==0.2
